### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [178]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

dataTypeSeries= purchase_data_df.dtypes
print(dataTypeSeries)

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

* Display the total number of players

   Total Players
0            576

In [179]:
## Player Count
player_count = len(purchase_data_df["SN"].unique())
total_players = pd.DataFrame({"Total Players" : [player_count]})

total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [189]:
unique_items = len(purchase_data_df["Item Name"].unique())
average_price = purchase_data_df["Price"].mean()
total_purchases = purchase_data_df["Purchase ID"].count()
total_revenue = purchase_data_df["Price"].sum()

summary_df = pd.DataFrame({"Number of unique items" : unique_items, "Average Price " : average_price, "Number of Purchases " : [total_purchases], "Total Revenue" : [total_revenue] })

summary_df

   Number of unique items  Average Price   Number of Purchases   Total Revenue
0                     179        3.050987                   780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [191]:
grouped_gender_df = purchase_data_df.groupby(["Gender"])
gender_count = purchase_data_df["Gender"].value_counts()
gender_percentage = purchase_data_df["Gender"].value_counts(normalize=True)* 100

gender_summary_df = pd.DataFrame({"Count of Gender": gender_count, "Percentage" : gender_percentage})
gender_summary_df.head()

                       Count of Gender  Percentage
Male                               652   83.589744
Female                             113   14.487179
Other / Non-Disclosed               15    1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [182]:
price_average = grouped_gender_df["Price"].mean()
total = grouped_gender_df["Price"].sum()
unique_average = grouped_gender_df["Price"].sum()/grouped_gender_df["SN"].nunique()
summary_df = pd.DataFrame({"Purchase Count": gender_count, "Average Purchase Price" : price_average.map("${:.2f}".format),"Total Purchase Value": total.map("${:.2f}".format),"Avg Total Purchase per Person" : unique_average.map("${:.2f}".format) })
summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [196]:
bins =[0,10,15,20,25,30,35,40,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],bins, labels = group_names, include_lowest = True)
age_group_percentage= group_data["Age Group"].value_counts(normalize=True)*100.00
age_summary_df = pd.DataFrame({"Count of Age": age_group_count, "Percentage" : age_group_percentage })
age_summary_df.head(10)

                     Count of Age  Percentage
Age Group Age Group
<10       <10                  32       100.0
10-14     10-14                54       100.0
15-19     15-19               200       100.0
20-24     20-24               325       100.0
25-29     25-29                77       100.0
30-34     30-34                52       100.0
35-39     35-39                33       100.0
40+       40+                   7       100.0

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [203]:
group_age = purchase_data_df.groupby(["Age Group"])
total_group = group_age["Price"].count()
group_average = group_age["Price"].mean()
group_total = group_age["Price"].sum()
group_total_average = group_age["Price"].sum()/group_age["Price"].nunique()
age_summary_df = pd.DataFrame({"Purchase Count": total_group, "Avg. purchase price" : group_average.map("${:.2f}".format),"Total Purchase Value" : group_total.map("${:.2f}".format), "Avg. purchase total per person": group_total_average.map("${:.2f}".format) })
age_summary_df.head(10)

,Purchase Count,Avg. purchase price,Total Purchase Value,Avg. purchase total per person
Age Group,,,,
<10,32,$3.40,$108.96,$3.89
10-14,54,$2.90,$156.60,$3.56
15-19,200,$3.11,$621.56,$5.76
20-24,325,$3.02,$981.64,$7.79
25-29,77,$2.88,$221.42,$3.69
30-34,52,$2.99,$155.71,$3.54
35-39,33,$3.40,$112.35,$4.01
40+,7,$3.08,$21.53,$3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [215]:
pn_group = purchase_data_df.groupby(["SN"])
pn_purchase = pn_group["Price"].count()
pn_average = pn_group["Price"].mean()
pn_total = pn_group["Price"].sum()

pn_summary_df = pd.DataFrame({"Purchase Count" : pn_purchase, "Average Purchase Price": pn_average, "Total Purchase Value": pn_total})

pn_summary_df.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80